

/*Valores generales*/
*{
    color: #000;
    font-family: Lalezar, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
}

/*Variables*/
:root{
    --networks-color: #D9D9D9;
}


/*Estilos del body y el backgrounf*/
body{
    background: linear-gradient(90deg, #CC8652, #BF611C, #BF611C 100%);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.div-wall{
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    border-color: black;
    position: relative;
    height: 60%;
    width: 100%;
    background: linear-gradient(180deg, #6D6F69 0%, #A69A9A 100%);
}

.div-principal{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    height: 100vh;
    width: 100%;
}

/*Contenido dentro del body. Primera vista del usuario*/
.div-content{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: absolute;
}

.networks{
    height: 100%;
    width: 15%;
    text-align: center;
}

.game{
    width: 50%;
    height: 100%;
}

.lamp{
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: center;
}


/*-------NETWORKS------*/
.dropdown{
    margin-top: 50%;
    position: relative;
    display: inline-block;
    text-align: center;
}

.dropdown-button{
    width: 60px;
    height: 60px;
    margin-top: 60%;
    position: relative;
    display: inline-block;
    background-color: var(--networks-color);
    padding: 1px;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    z-index: 10;
}

#networks-button{
    margin-top: 4px;
    padding: 7px;
    border: 0px solid var(--networks-color);
    background-color: var(--networks-color);
    border-radius: 50%;
}
.dropdown-content {
    padding-top: 35px;
    display: none;
    position: absolute;
    background-color: var(--networks-color);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin-top: -35px;
    z-index: 1;
}

.dropdown .dropdown-content.active {
    display: block;
    border: 2px solid black;
}

.dropdown-content a {
    text-align: center;
    color: #333;
    padding: 5px 0px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #706d6d9d;
}

/*---------GAME---------*/

.svg-tv{
    margin-top: auto;
}

.div-tv{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    margin-left: auto;
}

.tv{
    width: 100%;
    height: 25%;
    background-color: var(--networks-color);
    border-radius: 10px;
    border: 3px solid black;
    box-shadow: -40px 0px 0px #4D4B4B;
}

.screen{
    margin-top: 4%;
    margin-left: 4%;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    border: 3px solid black;
    background-image: url(/src/img/dungeon.gif);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.button-play{
    font-weight: bold;
    font-size: 20px;
    padding: 4px 30px;
    border-radius: 10px;
    background-color: rgb(75, 160, 194);
    border: 2px solid rgb(46, 98, 119);
}

.button-play:hover{
    background-color: rgba(13, 59, 102, 0.795);
    color: white;
}

/*----------LAMP----------*/
.light{
    width: 200px;
    border: yellow 3px solid;
    height: 420px;
    margin-top: -7px;
    background-color: rgba(251, 255, 4, 0.685);
    border-radius: 5px;
    text-align: center;
}

.light p{
    font-size: 12px;
    font-weight: bold;
    margin: 10px;
}


/*Solo curriculum*/
.div-content2{
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.desactive{
    display: none;
}

.active{
    display: block;
}