body{
    background-image: url("/src/img/backgorund.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

svg{
    margin: 0;
    padding: 0;
}

.div1{
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: row;
}

.networks{
    height: 100%;
    width: 15%;
}

.tv{
    height: 100%;
    width: 60%;
}

.lamp{
    height: 100%;
    width: 25%;
}

footer{
    height: 3%;
    width: 100%;
}

#footer{
    width: 98%;
    margin-left: 1%;
    color: black;
    font-size: 24px;
}
